@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.mozilla-headline {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}